<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="__STATIC__/product/img/favicon.ico" type="image/png">
  <title></title>
    <link href="__STATIC__/assets/css/icons.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/style.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/responsive.css" rel="stylesheet">
</head>

<body class="error-bg">

 <!--Start Section-->
 <section>
     <div class="container">
         <div class="row">
             <div class="error-inner">
                 <h1>404</h1>
                 <h3>Oops, sorry we can not fint that page</h3>
<!--                 <p>Lorem Ipsum is simply dummy text of the</p>-->
                 <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
             </div>

         </div>
     </div>
 </section>
 <!--End Section-->




    <!--Begin core plugin -->
    <script src="__STATIC__/assets/js/jquery.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>
    <!-- End core plugin -->

</body>

</html>
